body {
    background-color: rgb(254, 213, 220);
}



header {
    color: rgb(38, 171, 192);
    text-align: center;

}

#text {
    text-align-last: center;
    line-height: 40px;
    margin-top: 30px;
    border-bottom: white;
    border: 5px;

}

#text1,
#text2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(198, 79, 175);
    font-size: x-large;
    font-style: oblique;
}

.button:hover {
    background-color: rgb(217, 63, 150);
    font-size: large;

}

.button {
    line-height: 20px;
    width: 15%;
    margin: 20px;
    font-style: normal;
    background-color: rgb(63, 195, 210);
    border-radius: 10px;
}

#textuser {
    border-radius: 10px;
    border-color: rgb(217, 29, 117);
}

#offset {
    border-radius: 10px;
    line-height: 30px;
    border-color: rgb(217, 29, 117);
    border: 5px;

}

#textdeslocamento{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(198, 79, 175);
    font-size: medium;
    font-style: oblique;

}

.explicação{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: medium;
    font-style: oblique;
   

}
#desccifrar, #descdecifrar{
    border:solid;
    line-height: 40px;
    border: 3px;
    border-color: brown;
    background-color: rgb(58, 159, 196);
    border-radius: 30px;
    width: 40%;
    margin-left: 30%;
    text-align: center;
}

